input,
textarea,
select {
  @apply block;
  @apply mb-1 !important;
  @apply p-1 !important;
  @apply font-sans;
  @apply font-bold;
  @apply w-full;
}

fieldset:first-of-type {
  margin-top: 0;
}

input[type="file"] {
  padding: 0 !important;
  @apply text-white;
}

input[type="radio"] {
  display: none;
}

.label__radio {
  @apply cursor-pointer;
}

label {
  @apply font-bold;
  @apply text-white;
  @apply font-sans;
}

.btn {
  @apply bg-turquoise;
  @apply uppercase;
  @apply text-black;
  @apply font-sans;

  @apply transition-all;
  @apply ease-in-out;
  @apply duration-200;
  @apply font-bold text-small uppercase py-1 px-2 rounded-full inline-block text-center bg-white text-black;
}

.btn:hover {
  @apply bg-black text-white;
}

.btn:hover > svg > path {
  fill: #fff;
}

.btn--disabled {
  @apply bg-darkGray;
  @apply text-white;
}

.btn-download {
  @apply w-full;
}

h2.controls {
  @apply text-white;
  @apply uppercase;
  @apply font-sans;
  @apply italic;
  @apply text-md;
}

.colorThumbnail {
  @apply border-8;
  @apply transition-all;
  @apply ease-in-out;
  @apply duration-200;
  border-color: transparent;
}

.colorThumbnail:hover {
  @apply opacity-75;
}
