input,
textarea,
select {
  @apply block;
  @apply mb-1 !important;
  @apply p-1 !important;
  @apply font-kapra;
  @apply w-full;
}

fieldset {
  @apply w-full;
}

fieldset:first-of-type {
  margin-top: 0;
}

input[type='file'] {
  padding: 0 !important;
  @apply text-white;
}

input[type='radio'] {
  display: none;
}

input[type='range'] {
  @apply mb-0 !important;
  @apply p-0 !important;
}

.label__radio {
  @apply cursor-pointer;
}

label {
  @apply font-normal;
  @apply text-white;
  @apply font-kapra;
}

.btn {
  @apply bg-green;
  @apply uppercase;
  @apply text-black;
  @apply font-kapra;

  @apply transition-all;
  @apply ease-in-out;
  @apply duration-200;
  @apply font-normal text-input-md uppercase rounded-md inline-block text-center text-black px-1;
}

.btn:hover {
  @apply bg-black text-white;
}

.btn:hover > svg > path {
  fill: #fff;
}

.btn--disabled {
  @apply bg-black;
  @apply text-white;
}

.btn-download {
  @apply font-bold !important;
  @apply text-base;
}

h2.controls {
  @apply text-white;
  @apply uppercase;
  @apply font-kapra;
  @apply italic;
  @apply text-md;
}

.colorThumbnail {
  @apply border-4;
  @apply transition-all;
  @apply ease-in-out;
  @apply duration-200;
  border-color: transparent;
}

.colorThumbnail:hover {
  @apply opacity-75;
}

.font-bold {
  letter-spacing: 0.02em;
  font-weight: 700;
}
