@font-face {
  font-family: "Lulo Clean";
  font-weight: 400;
  src: url(/assets/fonts/lulo/cleanone-webfont.woff);
}

@font-face {
  font-family: "Gilroy ExtraBold";
  font-weight: 800;
  font-style: normal;
  src: url(/assets/fonts/gilroy/extrabold.woff);
}

@font-face {
  font-family: "Gilroy ExtraBold";
  font-weight: 800;
  font-style: italic;
  src: url(/assets/fonts/gilroy/extrabold-italic.woff);
}

@font-face {
  font-family: "Hind";
  font-weight: 600;
  src: url(/assets/fonts/hind/bold.woff);
}
