.stripeContainer {
  @apply relative;
  @apply inline-block;
}

.stripeText {
  @apply z-10;
  @apply relative;
}
.stripeElement {
  @apply absolute;
  width: 110%;
  margin-left: -5%;
  @apply h-full;
  @apply left-0;
  @apply top-0;
}
.stripeElement--skewed {
  transform: skew(-6deg);
}
