@tailwind base;
@tailwind utilities;
@tailwind components;

@import "./fonts.css";
@import "./controls.css";
@import "./template.css";
@import "./stripes.css";

.grid-12 {
  @apply grid-cols-12;
  @apply gap-2;
  @apply grid;
}
